<div class="sidebar">
	<div>
		
	<center>
	<form id="cse" id="searchbox_017441273926802312631:tt52stvsmwc" action="/assets/SearchResults.html">
	  <input value="017441273926802312631:tt52stvsmwc" name="cx" type="hidden"/>
	  <input value="FORID:11" name="cof" type="hidden"/>
	  <input id="q" style="width:110px;" name="q" size="75" type="text"/>
	  <input value="Search" name="sa" type="submit"/>
	</form>
	</center>
		<h4>Categories</h4>
		<ul>
			{% for category in site.categories %}
			<li>
				<a href="/categories.html#{{ category[0] }}">
				{% if page.categories contains category[0] %}
				<b>{{ category[0] }}</b>
				{% else %}
					{{ category[0] }}
				{% endif %}
				</a>
				<sup>[{{ category[1].size }}]</sup>
			</li>
			{% endfor %}
		</ul>
		<hr/>
		<h4>Tags</h4>
		<ul>
			{% for tag in site.tags %}
			<li>
				<a href="/tags.html#{{ tag[0] }}">
				{% if page.tags contains tag[0] %}
					<b>{{tag[0]}}</b>
				{% else %}
					{{ tag[0] }}
				{% endif %}
				</a>
				<sup>[{{ tag[1].size }}]</sup>

			</li>
			{% endfor %}
		</ul>
		<hr/>
		<h4>Archive</h4>
		<ul>
{% if page.date %}{% capture pageYear %}{{page.date| date: "%Y"}}{% endcapture %}{% endif %}
{% for y in site.years reversed %}
	{% if y  == pageYear %}
	<li><b><a href="/archive.html#{{y}}">{{y}}</a></b></li>
	{% else %}
	<li><a href="/archive.html#{{y}}">{{y}}</a></li>
	{% endif %}
{% endfor %}
		</ul>
	</div>
</div>
