<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments.css"/>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body data-showToc="{% if page.showToc %}true{% else %}false{% endif %}">
    <div class="container">
	    {% include header.html %}
	    {% include sidebar.html %}
	    <div class="content">
		{{ content }}
	    </div>
	    
    </div>
    {% include footer.html %}
</body>
</html>
